/* Your styles here */

* {
  box-sizing: border-box;
}

/* RECURRING */

.text-center {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-yellow {
  color: #eaeded;
  background-color: #f56600;
}

.bg-black {
  color: #eaeded;
  background-color: #364759;
}

.py-1 {
  padding: 1rem 0;
}

.text-left {
  text-align: left;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
  width: 100%;
  display: block;
  background-color: #222f3f;
  padding-block: 13px;
}
header div {
  width: 16%;
  padding-left: 25px;
}
header div > img {
  width: 60%;
}

/* NAV */

ul li {
  display: inline-block;
  padding: 7px 3px 7px 18px;
}

ul li a {
  text-decoration: none;
  color: white;
}

/* BODY */

body {
  background-color: #e9edee;
}

/* MAIN */

main {
  margin: 30px;
}

/* SECTION 1 */

.giftguides {
  background-image: url(../images/bg-image.png);
  margin-top: 30px;
  background-size: 1100px;
}
.giftguides h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #eaeded;
  padding-top: 50px;
  padding-bottom: 20px;
}
.giftguides h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #eaeded;
  padding-bottom: 25px;
}

.perfectgift {
  padding-left: px;
  background-color: white;
  margin-top: 25px;
}

.perfectgift h3 {
  padding-left: 18px;
}
.perfectgift a {
  padding-left: 15px;
  font-size: smaller;
  color: #004d53;
  text-decoration: none;
}

.perfectgiftsimgs {
  width: 100%;
  text-align: center;
}

.perfectgiftsimgs img {
  border-radius: 5%;
  width: 21%;
  height: 300px;
  display: inline-block;
  margin: 19px;
  box-shadow: 5px 6px 23px -9px rgba(0, 0, 0, 0.88);
  object-fit: cover;
}

/* SECTION 2 */
section .bigimages img {
  width: 100%;
  margin-top: 25px;
  height: 150%;
}

section .bigimages a {
  padding-left: 15px;
  font-size: smaller;
  color: #004d53;
  text-decoration: none;
}

.backtotop a {
  color: white;
}

/* FOOTER */
footer {
  width: 100%;
  display: block;
  background-color: #222f3f;
  padding-block: 13px;
}

footer div {
  width: 100%;
  text-align: center;
}
footer div > img {
  width: 10%;
  padding-top: 25px;
  padding-bottom: 40px;
}
